
div.tile.hidden{
    background-color: lightgray;
    color: transparent;
    border-style: outset;
}

div.tile{
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border: 3px black solid;
    border-style: inset;
    background-color: darkgray;
    color: black;
}

div.board{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

.board-wrapper{
    display: flex;
    justify-content: center;
}

.modal-screen{
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000000cf;
}
.modal-banner{
    padding: 1rem;
    z-index: 3;
    width: 50vw;
    margin:auto;
    margin-top: 2rem;
    text-align: center;
    background: white;
}